In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [37]:
dict = {'d2':[0,1,2,3,4,5,6,7,8,9,10,11,12,13], 'd16':[14,15,16,17,18,19,20,21,22,23,24,25,26,27]}

In [38]:
dej=[]
for i in np.linspace(0,12,7):
    dej.append(dict['d16'][int(i)])
    dej

In [40]:
dej

[14, 16, 18, 20, 22, 24, 26]

In [43]:
test_graph = pd.DataFrame(index=('midi','soir'), columns=dateList)

In [54]:
test_graph.iloc[0] = dej

In [55]:
test_graph

,2021-09-01,2021-09-02,2021-09-03,2021-09-04,2021-09-05,2021-09-06,2021-09-07
midi,14,16,18,20,22,24,26
soir,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
dict.keys()

dict_keys(['day1_1', 'day1_2', 'day2_1', 'day2_2', 'day3_1', 'day3_2', 'day4_1', 'day4_2', 'day5_1', 'day5_2', 'day6_1', 'day6_2', 'day7_1', 'day7_2'])

In [27]:
str(datetime.datetime.today()).split()[0]

'2021-09-01'

In [41]:
a = datetime.datetime.today()
numdays = 7
dateList = []
for x in range (0, numdays):
    dateList.append(a + datetime.timedelta(days = x))

In [42]:
for i in range(len(dateList)):
    dateList[i] = str(dateList[i]).split()[0]

In [44]:
arrays = [["Midi","Midi","Soir", "Soir","Total", "Total"],
 ["Couverts", "CA_TTC", "Couverts", "CA_TTC", "Couverts", "CA_TTC"],]

In [45]:
tuples = list(zip(*arrays))

In [46]:
tuples

[('Midi', 'Couverts'),
 ('Midi', 'CA_TTC'),
 ('Soir', 'Couverts'),
 ('Soir', 'CA_TTC'),
 ('Total', 'Couverts'),
 ('Total', 'CA_TTC')]

In [52]:
index = pd.MultiIndex.from_tuples(tuples)

In [53]:
index

MultiIndex([( 'Midi', 'Couverts'),
            ( 'Midi',   'CA_TTC'),
            ( 'Soir', 'Couverts'),
            ( 'Soir',   'CA_TTC'),
            ('Total', 'Couverts'),
            ('Total',   'CA_TTC')],
           )

In [68]:
s = pd.Series(np.random.randn(6), index=index)

In [77]:
df = pd.DataFrame(np.random.randn(6, 7), index=arrays, columns=dateList)

In [105]:
df

                2021-09-01  2021-09-02  2021-09-03  2021-09-04  2021-09-05  \
Midi  Couverts   -0.084117    1.003142    0.865675   -0.121291   -0.180886
      CA_TTC      1.324918   -1.174644    1.489626   -0.643850    1.732354
Soir  Couverts   -0.534071   -1.233291   -0.110076    1.124799   -1.490210
      CA_TTC     -0.729063   -0.467429   -1.471693    1.132608    0.051146
Total Couverts    1.124008    0.088934   -1.828654    1.167637    1.164435
      CA_TTC     -0.116262    1.334086   -0.234699   -1.241003    1.533871

                2021-09-06  2021-09-07
Midi  Couverts   -1.313250   -1.428175
      CA_TTC      0.499402    0.567760
Soir  Couverts    2.542872    1.592419
      CA_TTC     -0.508939    0.012169
Total Couverts    0.003851   -0.025344
      CA_TTC     -1.108869   -1.695939