In [1]:
import pandas as pd

In [2]:
pd.read_csv('../raw_data/service_maes.csv')

   Unnamed: 0         soir        midi
0           0  1497.918785  780.559629

In [3]:
pd.read_csv('../raw_data/daily_service_maes.csv')

,Unnamed: 0,Lundi soir,Mardi soir,Mercredi soir,Jeudi soir,Vendredi soir,Samedi soir,Dimanche soir,Lundi midi,Mardi midi,Mercredi midi,Jeudi midi,Vendredi midi,Samedi midi,Dimanche midi
0,0,1429.13685,1400.584014,1442.13875,1506.434001,1660.966971,1467.436676,1575.65145,737.55459,644.640393,671.295358,733.324483,739.350034,966.194917,974.149546

In [4]:
pd.read_csv('../raw_data/daily_maes.csv')

,Unnamed: 0,Lundi,Mardi,Mercredi,Jeudi,Vendredi,Samedi,Dimanche
0,0,1079.416276,1022.612204,1063.176635,1122.063167,1205.278597,1216.815797,1276.619075