In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [43]:
df_d2 = pd.read_csv('/Users/tomaymerich/code/tomaymerich14/resto-project/raw_data/df_dBourse.csv')
df_d16 =pd.read_csv('/Users/tomaymerich/code/tomaymerich14/resto-project/raw_data/df_DXVI.csv')
baseline_d2 = pd.read_csv('/Users/tomaymerich/code/tomaymerich14/resto-project/raw_data/baseline_d2.csv')
baseline_d16 = pd.read_csv('/Users/tomaymerich/code/tomaymerich14/resto-project/raw_data/baseline_d16.csv')

In [44]:
df_d2 = df_d2.drop(columns=['CA_HT', 'TVA', 'moyen_7_services', 'moyen_31_services', 'moyenne_3der_j&service'])

In [45]:
df_d16 = df_d16.drop(columns=['CA_HT', 'TVA', 'moyen_7_services', 'moyen_31_services', 'moyenne_3der_j&service'])

In [46]:
baseline_d2.sort_values(by='difference', ascending=False).head(20)

            date      jour service    CA_TTC  baseline_pred   difference
862   2020-05-15  Vendredi    soir    773.50   10613.206383  9839.706383
256   2019-05-10  Vendredi    soir    839.00   10613.206383  9774.206383
866   2020-06-12  Vendredi    soir    887.60   10613.206383  9725.606383
863   2020-05-21     Jeudi    soir    685.50    9866.975109  9181.475109
868   2020-06-13    Samedi    soir   2606.50   11181.739674  8575.239674
1131  2020-10-23  Vendredi    soir   2526.50   10613.206383  8086.706383
1119  2020-10-17    Samedi    soir   3330.00   11181.739674  7851.739674
864   2020-06-10  Mercredi    soir   1456.70    9115.078617  7658.378617
716   2019-12-31     Mardi    soir  15779.50    8642.375326  7137.124674
1133  2020-10-24    Samedi    soir   4062.00   11181.739674  7119.739674
1128  2020-10-22     Jeudi    soir   2910.00    9866.975109  6956.975109
571   2019-10-16  Mercredi    soir  16032.53    9115.078617  6917.451383
1127  2020-10-21  Mercredi    soir   2411.00    9115.078617  6704.078617
286   2019-05-26  Dimanche    soir  13267.00    6786.344719  6480.655281
993   2020-08-15    Samedi    soir   4849.00   11181.739674  6332.739674
713   2019-12-30     Lundi    soir  13648.00    7325.895909  6322.104091
1125  2020-10-20     Mardi    soir   2388.60    8642.375326  6253.775326
314   2019-06-09  Dimanche    soir  12967.00    6786.344719  6180.655281
1143  2020-10-29     Jeudi    soir   3779.00    9866.975109  6087.975109
976   2020-08-07  Vendredi    soir   4627.50   10613.206383  5985.706383

date              object
jour              object
service           object
CA_TTC           float64
baseline_pred    float64
difference       float64
dtype: object

In [47]:
df_d16 = df_d16.merge(baseline_d16, how='left', left_on=["date", "service"], right_on=["date","service"] )

In [52]:
df_d16 = df_d16.drop(columns=['jour_y','CA_TTC_y'])

In [53]:
df_d16

,date,jour_x,service,CA_TTC_x,jour_de_sem,jour_du_mois,mois_de_annee,sem_de_annee,jour_annee,baseline_pred
0,2019-08-28,Mercredi,soir,1723.75,3,28,8,35,240,6201.458361
1,2019-08-29,Jeudi,soir,3053.68,4,29,8,35,241,6954.656316
2,2019-08-30,Vendredi,soir,3779.50,5,30,8,35,242,7271.301967
3,2019-08-31,Samedi,soir,3747.87,6,31,8,35,243,7320.596000
4,2019-09-01,Dimanche,midi,3548.00,7,1,9,35,244,4577.312264
...,...,...,...,...,...,...,...,...,...,...
792,2021-07-30,Vendredi,midi,1361.00,5,30,7,30,211,3370.729091
793,2021-07-30,Vendredi,soir,7058.00,5,30,7,30,211,7271.301967
794,2021-07-31,Samedi,midi,1655.50,6,31,7,30,212,4216.606364
795,2021-07-31,Samedi,soir,8446.00,6,31,7,30,212,7320.596000
796,2021-08-01,Dimanche,midi,1944.00,7,1,8,30,213,4577.312264

In [54]:
df_d2 = df_d2.merge(baseline_d2, how='left', left_on=["date", "service"], right_on=["date","service"] )

In [55]:
df_d2 = df_d2.drop(columns=['jour_y','CA_TTC_y'])

In [56]:
df_d2

,date,jour_x,service,CA_TTC_x,jour_de_sem,jour_du_mois,mois_de_annee,sem_de_annee,jour_annee,baseline_pred,difference
0,2019-01-01,Mardi,soir,8345.0,2,1,1,1,1,8642.375326,297.375326
1,2019-01-02,Mercredi,midi,3939.0,3,2,1,1,2,3622.209451,316.790549
2,2019-01-02,Mercredi,soir,9045.5,3,2,1,1,2,9115.078617,69.578617
3,2019-01-03,Jeudi,soir,10024.0,4,3,1,1,3,9866.975109,157.024891
4,2019-01-03,Jeudi,midi,4836.0,4,3,1,1,3,3797.860110,1038.139890
...,...,...,...,...,...,...,...,...,...,...,...
1272,2021-08-19,Jeudi,soir,9313.5,4,19,8,33,231,9866.975109,553.475109
1273,2021-08-20,Vendredi,midi,2539.0,5,20,8,33,232,4048.850978,1509.850978
1274,2021-08-20,Vendredi,soir,10948.5,5,20,8,33,232,10613.206383,335.293617
1275,2021-08-21,Samedi,soir,11066.2,6,21,8,33,233,11181.739674,115.539674
1276,2021-08-21,Samedi,midi,3015.0,6,21,8,33,233,4599.999022,1584.999022

## D16

In [61]:
df_d16.loc[df_d16['date']=='2019-09-01']

,date,jour_x,service,CA_TTC_x,jour_de_sem,jour_du_mois,mois_de_annee,sem_de_annee,jour_annee,baseline_pred
4,2019-09-01,Dimanche,midi,3548.0,7,1,9,35,244,4577.312264
5,2019-09-01,Dimanche,soir,4577.1,7,1,9,35,244,4546.194167

In [66]:
df_d16 = df_d16[4:].reset_index(drop=True)

In [68]:
df_d16.loc[df_d16['date']=='2020-03-01']

,date,jour_x,service,CA_TTC_x,jour_de_sem,jour_du_mois,mois_de_annee,sem_de_annee,jour_annee,baseline_pred
350,2020-03-01,Dimanche,soir,5351.5,7,1,3,9,61,4546.194167
351,2020-03-01,Dimanche,midi,5700.0,7,1,3,9,61,4577.312264

In [70]:
df_d16[376:400]

,date,jour_x,service,CA_TTC_x,jour_de_sem,jour_du_mois,mois_de_annee,sem_de_annee,jour_annee,baseline_pred
376,2020-03-14,Samedi,midi,1536.50,6,14,3,11,74,4216.606364
377,2020-03-14,Samedi,soir,6262.25,6,14,3,11,74,7320.596000
378,2020-05-06,Mercredi,midi,4128.00,3,6,5,19,127,3120.438136
379,2020-05-08,Vendredi,soir,740.50,5,8,5,19,129,7271.301967
380,2020-05-09,Samedi,soir,1139.00,6,9,5,19,130,7320.596000
381,2020-05-10,Dimanche,soir,864.00,7,10,5,19,131,4546.194167
382,2020-05-13,Mercredi,soir,847.00,3,13,5,20,134,6201.458361
383,2020-05-15,Vendredi,soir,1430.00,5,15,5,20,136,7271.301967
384,2020-05-16,Samedi,soir,1171.00,6,16,5,20,137,7320.596000
385,2020-05-17,Dimanche,soir,1309.00,7,17,5,20,138,4546.194167
386,2020-05-20,Mercredi,soir,1059.00,3,20,5,21,141,6201.458361
387,2020-05-21,Jeudi,soir,1202.00,4,21,5,21,142,6954.656316
388,2020-05-22,Vendredi,midi,748.50,5,22,5,21,143,3370.729091
389,2020-05-22,Vendredi,soir,2429.00,5,22,5,21,143,7271.301967
390,2020-05-24,Dimanche,soir,912.00,7,24,5,21,145,4546.194167
391,2020-05-26,Mardi,soir,814.50,2,26,5,22,147,6198.080351
392,2020-05-27,Mercredi,soir,929.00,3,27,5,22,148,6201.458361
393,2020-05-29,Vendredi,soir,1000.00,5,29,5,22,150,7271.301967
394,2020-05-30,Samedi,soir,1033.00,6,30,5,22,151,7320.596000
395,2020-05-31,Dimanche,soir,1596.50,7,31,5,22,152,4546.194167
396,2020-06-02,Mardi,midi,2213.50,2,2,6,23,154,2877.303571
397,2020-06-02,Mardi,soir,4698.50,2,2,6,23,154,6198.080351
398,2020-06-03,Mercredi,midi,1365.00,3,3,6,23,155,3120.438136
399,2020-06-03,Mercredi,soir,3578.50,3,3,6,23,155,6201.458361

In [79]:
df_d16[750:797]

,date,jour_x,service,CA_TTC_x,jour_de_sem,jour_du_mois,mois_de_annee,sem_de_annee,jour_annee,baseline_pred
750,2021-07-11,Dimanche,soir,4458.50,7,11,7,27,192,4546.194167
751,2021-07-11,Dimanche,midi,4750.50,7,11,7,27,192,4577.312264
752,2021-07-12,Lundi,midi,3176.50,1,12,7,28,193,2675.783019
753,2021-07-12,Lundi,soir,8379.00,1,12,7,28,193,5570.372642
754,2021-07-13,Mardi,soir,7449.50,2,13,7,28,194,6198.080351
755,2021-07-13,Mardi,midi,3808.00,2,13,7,28,194,2877.303571
756,2021-07-14,Mercredi,soir,6441.50,3,14,7,28,195,6201.458361
757,2021-07-14,Mercredi,midi,4615.50,3,14,7,28,195,3120.438136
758,2021-07-15,Jeudi,midi,1887.50,4,15,7,28,196,3295.157895
759,2021-07-15,Jeudi,soir,6515.00,4,15,7,28,196,6954.656316
760,2021-07-16,Vendredi,soir,8646.00,5,16,7,28,197,7271.301967
761,2021-07-16,Vendredi,midi,2823.00,5,16,7,28,197,3370.729091
762,2021-07-17,Samedi,soir,7828.00,6,17,7,28,198,7320.596000
763,2021-07-17,Samedi,midi,1760.50,6,17,7,28,198,4216.606364
764,2021-07-18,Dimanche,midi,3324.25,7,18,7,28,199,4577.312264
765,2021-07-18,Dimanche,soir,4569.00,7,18,7,28,199,4546.194167
766,2021-07-19,Lundi,midi,2609.50,1,19,7,29,200,2675.783019
767,2021-07-19,Lundi,soir,5692.00,1,19,7,29,200,5570.372642
768,2021-07-20,Mardi,midi,2449.00,2,20,7,29,201,2877.303571
769,2021-07-20,Mardi,soir,8430.50,2,20,7,29,201,6198.080351
770,2021-07-21,Mercredi,midi,2464.50,3,21,7,29,202,3120.438136
771,2021-07-21,Mercredi,soir,8172.50,3,21,7,29,202,6201.458361
772,2021-07-22,Jeudi,soir,7651.00,4,22,7,29,203,6954.656316
773,2021-07-22,Jeudi,midi,2899.50,4,22,7,29,203,3295.157895
774,2021-07-23,Vendredi,soir,7393.00,5,23,7,29,204,7271.301967
775,2021-07-23,Vendredi,midi,2494.50,5,23,7,29,204,3370.729091
776,2021-07-24,Samedi,midi,3709.00,6,24,7,29,205,4216.606364
777,2021-07-24,Samedi,soir,7607.45,6,24,7,29,205,7320.596000
778,2021-07-25,Dimanche,midi,3641.30,7,25,7,29,206,4577.312264
779,2021-07-25,Dimanche,soir,6196.00,7,25,7,29,206,4546.194167
780,2021-07-26,Lundi,midi,1655.00,1,26,7,30,207,2675.783019
781,2021-07-26,Lundi,soir,6090.50,1,26,7,30,207,5570.372642
782,2021-07-27,Mardi,soir,7350.50,2,27,7,30,208,6198.080351
783,2021-07-27,Mardi,midi,2090.00,2,27,7,30,208,2877.303571
784,2021-07-28,Mercredi,midi,1859.50,3,28,7,30,209,3120.438136
785,2021-07-28,Mercredi,soir,8299.50,3,28,7,30,209,6201.458361
786,2021-07-29,Jeudi,midi,1863.00,4,29,7,30,210,3295.157895
787,2021-07-29,Jeudi,soir,6564.00,4,29,7,30,210,6954.656316
788,2021-07-30,Vendredi,midi,1361.00,5,30,7,30,211,3370.729091
789,2021-07-30,Vendredi,soir,7058.00,5,30,7,30,211,7271.301967
790,2021-07-31,Samedi,midi,1655.50,6,31,7,30,212,4216.606364
791,2021-07-31,Samedi,soir,8446.00,6,31,7,30,212,7320.596000
792,2021-08-01,Dimanche,midi,1944.00,7,1,8,30,213,4577.312264

## D2

In [80]:
df_d2

,date,jour_x,service,CA_TTC_x,jour_de_sem,jour_du_mois,mois_de_annee,sem_de_annee,jour_annee,baseline_pred,difference
0,2019-01-01,Mardi,soir,8345.0,2,1,1,1,1,8642.375326,297.375326
1,2019-01-02,Mercredi,midi,3939.0,3,2,1,1,2,3622.209451,316.790549
2,2019-01-02,Mercredi,soir,9045.5,3,2,1,1,2,9115.078617,69.578617
3,2019-01-03,Jeudi,soir,10024.0,4,3,1,1,3,9866.975109,157.024891
4,2019-01-03,Jeudi,midi,4836.0,4,3,1,1,3,3797.860110,1038.139890
...,...,...,...,...,...,...,...,...,...,...,...
1272,2021-08-19,Jeudi,soir,9313.5,4,19,8,33,231,9866.975109,553.475109
1273,2021-08-20,Vendredi,midi,2539.0,5,20,8,33,232,4048.850978,1509.850978
1274,2021-08-20,Vendredi,soir,10948.5,5,20,8,33,232,10613.206383,335.293617
1275,2021-08-21,Samedi,soir,11066.2,6,21,8,33,233,11181.739674,115.539674
1276,2021-08-21,Samedi,midi,3015.0,6,21,8,33,233,4599.999022,1584.999022

In [84]:
df_d2.loc[df_d2['date']=='2020-03-09'].index[1]

834

In [90]:
df_d2.tail(20)

,date,jour_x,service,CA_TTC_x,jour_de_sem,jour_du_mois,mois_de_annee,sem_de_annee,jour_annee,baseline_pred,difference
1257,2021-08-10,Mardi,midi,2107.7,2,10,8,32,222,3430.450109,1322.750109
1258,2021-08-10,Mardi,soir,7894.5,2,10,8,32,222,8642.375326,747.875326
1259,2021-08-11,Mercredi,midi,2015.1,3,11,8,32,223,3622.209451,1607.109451
1260,2021-08-11,Mercredi,soir,8550.0,3,11,8,32,223,9115.078617,565.078617
1261,2021-08-12,Jeudi,soir,7717.0,4,12,8,32,224,9866.975109,2149.975109
1262,2021-08-12,Jeudi,midi,1720.0,4,12,8,32,224,3797.860110,2077.860110
1263,2021-08-13,Vendredi,soir,10907.5,5,13,8,32,225,10613.206383,294.293617
1264,2021-08-13,Vendredi,midi,1013.5,5,13,8,32,225,4048.850978,3035.350978
1265,2021-08-14,Samedi,soir,8417.0,6,14,8,32,226,11181.739674,2764.739674
1266,2021-08-14,Samedi,midi,1340.7,6,14,8,32,226,4599.999022,3259.299022
1267,2021-08-17,Mardi,soir,8399.5,2,17,8,33,229,8642.375326,242.875326
1268,2021-08-17,Mardi,midi,2002.5,2,17,8,33,229,3430.450109,1427.950109
1269,2021-08-18,Mercredi,soir,10296.5,3,18,8,33,230,9115.078617,1181.421383
1270,2021-08-18,Mercredi,midi,1865.0,3,18,8,33,230,3622.209451,1757.209451
1271,2021-08-19,Jeudi,midi,1717.5,4,19,8,33,231,3797.860110,2080.360110
1272,2021-08-19,Jeudi,soir,9313.5,4,19,8,33,231,9866.975109,553.475109
1273,2021-08-20,Vendredi,midi,2539.0,5,20,8,33,232,4048.850978,1509.850978
1274,2021-08-20,Vendredi,soir,10948.5,5,20,8,33,232,10613.206383,335.293617
1275,2021-08-21,Samedi,soir,11066.2,6,21,8,33,233,11181.739674,115.539674
1276,2021-08-21,Samedi,midi,3015.0,6,21,8,33,233,4599.999022,1584.999022