In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [30]:
df_d2 = pd.read_csv('../raw_data/zenchef/export_d2.csv')
df_d16 = pd.read_csv('../raw_data/zenchef/export_d16.csv')

In [31]:
df_d2.head()

,Restaurant,Jour,Service,Nombre de Réservations,Nb. couverts réservations,Nb. de Passage,Nb. couverts passage,Nombre de couverts total,Délai en jour entre la prise de résa et le jour de résa
0,DAROCO BOURSE,2022-02-12,Diner - 1er service,1,2,0,0,2,172.0
1,DAROCO BOURSE,2021-11-06,Diner - 1er service,1,2,0,0,2,89.0
2,DAROCO BOURSE,2021-11-05,Déjeuner,2,4,0,0,4,96.5
3,DAROCO BOURSE,2021-10-18,Diner - 1er service,1,2,0,0,2,56.0
4,DAROCO BOURSE,2021-10-16,Diner - 1er service,1,2,0,0,2,61.0

In [32]:
df_d16.head()

,Restaurant,Jour,Service,Nombre de Réservations,Nb. couverts réservations,Nb. de Passage,Nb. couverts passage,Nombre de couverts total,Délai en jour entre la prise de résa et le jour de résa
0,Daroco 16,2021-10-05,NaN,1,5,0,0,5,64.0
1,Daroco 16,2021-09-24,Dîner - 1er service,1,2,0,0,2,50.0
2,Daroco 16,2021-09-23,Dîner - 1er service,1,1,0,0,1,29.0
3,Daroco 16,2021-09-20,Dîner - 2ème service,1,2,0,0,2,35.0
4,Daroco 16,2021-09-20,Déjeuner,1,2,0,0,2,50.0

## Prepross & Cleaning

In [33]:
df_d2 = df_d2.drop(columns='Restaurant')

In [34]:
df_d16 = df_d16.drop(columns='Restaurant')

In [35]:
df_d2['Jour'] = pd.to_datetime(df_d2['Jour'],  format='%Y-%m-%d')

In [36]:
df_d16['Jour'] = pd.to_datetime(df_d16['Jour'],  format='%Y-%m-%d')

In [37]:
df_d2.loc[df_d2['Jour']=='2021-07-31'].index[0]

129

In [38]:
df_d2.loc[df_d2['Jour']=='2019-01-01'].index[0] + 1

1621

In [39]:
df_d2 = df_d2[df_d2.loc[df_d2['Jour']=='2021-07-31'].index[0] : df_d2.loc[df_d2['Jour']=='2019-01-01'].index[0] + 1]

In [40]:
df_d2 = df_d2.sort_values(by='Jour').reset_index(drop=True)

In [41]:
df_d2 = df_d2.rename(columns={"Jour": "date", "Service": "service", 'Nombre de Réservations': 'nb_resa', 'Nb. couverts réservations': 'nb_couverts_resa', 'Nb. de Passage': 'nb_passage', 'Nb. couverts passage': 'nb_couverts_passage',\
                     'Nombre de couverts total':'total_couverts', 'Délai en jour entre la prise de résa et le jour de résa':'temps_resa'})

In [42]:
df_d2

,date,service,nb_resa,nb_couverts_resa,nb_passage,nb_couverts_passage,total_couverts,temps_resa
0,2019-01-01,Diner - 1er service,72,196,20,52,248,2.8043
1,2019-01-02,Déjeuner,20,65,15,40,105,0.0857
2,2019-01-02,Diner - 1er service,72,203,18,35,238,1.2444
3,2019-01-03,Déjeuner,22,65,35,84,149,0.0351
4,2019-01-03,Diner - 1er service,70,211,10,27,238,2.9625
...,...,...,...,...,...,...,...,...
1487,2021-07-30,Diner - 1er service,38,112,4,9,121,1.8571
1488,2021-07-30,Diner - 2ème service,19,44,1,2,46,1.0000
1489,2021-07-31,Dejeuner week-end,6,17,3,8,25,0.2222
1490,2021-07-31,Diner - 1er service,21,72,10,26,98,1.6452
1491,2021-07-31,Diner - 2ème service,24,70,0,0,70,0.6250

In [43]:
df_d16.loc[df_d16['Jour']=='2021-07-31'].index[0]

49

In [44]:
df_d2

,date,service,nb_resa,nb_couverts_resa,nb_passage,nb_couverts_passage,total_couverts,temps_resa
0,2019-01-01,Diner - 1er service,72,196,20,52,248,2.8043
1,2019-01-02,Déjeuner,20,65,15,40,105,0.0857
2,2019-01-02,Diner - 1er service,72,203,18,35,238,1.2444
3,2019-01-03,Déjeuner,22,65,35,84,149,0.0351
4,2019-01-03,Diner - 1er service,70,211,10,27,238,2.9625
...,...,...,...,...,...,...,...,...
1487,2021-07-30,Diner - 1er service,38,112,4,9,121,1.8571
1488,2021-07-30,Diner - 2ème service,19,44,1,2,46,1.0000
1489,2021-07-31,Dejeuner week-end,6,17,3,8,25,0.2222
1490,2021-07-31,Diner - 1er service,21,72,10,26,98,1.6452
1491,2021-07-31,Diner - 2ème service,24,70,0,0,70,0.6250

In [45]:
df_d2

,date,service,nb_resa,nb_couverts_resa,nb_passage,nb_couverts_passage,total_couverts,temps_resa
0,2019-01-01,Diner - 1er service,72,196,20,52,248,2.8043
1,2019-01-02,Déjeuner,20,65,15,40,105,0.0857
2,2019-01-02,Diner - 1er service,72,203,18,35,238,1.2444
3,2019-01-03,Déjeuner,22,65,35,84,149,0.0351
4,2019-01-03,Diner - 1er service,70,211,10,27,238,2.9625
...,...,...,...,...,...,...,...,...
1487,2021-07-30,Diner - 1er service,38,112,4,9,121,1.8571
1488,2021-07-30,Diner - 2ème service,19,44,1,2,46,1.0000
1489,2021-07-31,Dejeuner week-end,6,17,3,8,25,0.2222
1490,2021-07-31,Diner - 1er service,21,72,10,26,98,1.6452
1491,2021-07-31,Diner - 2ème service,24,70,0,0,70,0.6250

In [46]:
df_d2

,date,service,nb_resa,nb_couverts_resa,nb_passage,nb_couverts_passage,total_couverts,temps_resa
0,2019-01-01,Diner - 1er service,72,196,20,52,248,2.8043
1,2019-01-02,Déjeuner,20,65,15,40,105,0.0857
2,2019-01-02,Diner - 1er service,72,203,18,35,238,1.2444
3,2019-01-03,Déjeuner,22,65,35,84,149,0.0351
4,2019-01-03,Diner - 1er service,70,211,10,27,238,2.9625
...,...,...,...,...,...,...,...,...
1487,2021-07-30,Diner - 1er service,38,112,4,9,121,1.8571
1488,2021-07-30,Diner - 2ème service,19,44,1,2,46,1.0000
1489,2021-07-31,Dejeuner week-end,6,17,3,8,25,0.2222
1490,2021-07-31,Diner - 1er service,21,72,10,26,98,1.6452
1491,2021-07-31,Diner - 2ème service,24,70,0,0,70,0.6250

In [47]:
df_d16.loc[df_d16['Jour']=='2019-09-01'].index[0] + 1

659

In [48]:
df_d16 = df_d16[df_d16.loc[df_d16['Jour']=='2021-07-31'].index[0] : df_d16.loc[df_d16['Jour']=='2019-09-01'].index[0] + 1]

In [49]:
df_d16 = df_d16.sort_values(by='Jour').reset_index(drop=True)

In [50]:
df_d16 = df_d16.rename(columns={"Jour": "date", "Service": "service", 'Nombre de Réservations': 'nb_resa', 'Nb. couverts réservations': 'nb_couverts_resa', 'Nb. de Passage': 'nb_passage', 'Nb. couverts passage': 'nb_couverts_passage',\
                     'Nombre de couverts total':'total_couverts', 'Délai en jour entre la prise de résa et le jour de résa':'temps_resa'})

In [51]:
df_d16['jour_de_sem'] = df_d16['date'].dt.weekday +1

In [52]:
df_d2['jour_de_sem'] = df_d2['date'].dt.weekday +1

In [25]:
for i in range(len(df_d2)):
    if df_d2['service'][i]=='Diner - 1er service':
        df_d2['service'][i] = 'soir'
    elif df_d2['service'][i]=='Diner - 2ème service':
        df_d2['service'][i] = 'soir'
    elif df_d2['service'][i]=='Déjeuner':
        df_d2['service'][i] = 'midi'
    elif df_d2['service'][i]=='Dejeuner week-end':
        df_d2['service'][i] = 'midi'

/var/folders/gq/kdywklvn2c90t1ybrvvvkgl40000gn/T/ipykernel_15463/765498422.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_d2['service'][i] = 'soir'
/var/folders/gq/kdywklvn2c90t1ybrvvvkgl40000gn/T/ipykernel_15463/765498422.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_d2['service'][i] = 'midi'
/var/folders/gq/kdywklvn2c90t1ybrvvvkgl40000gn/T/ipykernel_15463/765498422.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_d2['service'][i] = 'midi'
/var/folders/gq/kdywklvn2c90t1ybrvvvkgl40000gn/T/ipykernel_15463/765498422.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_d2['service'][i] = 'soir'

In [53]:
df_d2.head(20)

,date,service,nb_resa,nb_couverts_resa,nb_passage,nb_couverts_passage,total_couverts,temps_resa,jour_de_sem
0,2019-01-01,Diner - 1er service,72,196,20,52,248,2.8043,2
1,2019-01-02,Déjeuner,20,65,15,40,105,0.0857,3
2,2019-01-02,Diner - 1er service,72,203,18,35,238,1.2444,3
3,2019-01-03,Déjeuner,22,65,35,84,149,0.0351,4
4,2019-01-03,Diner - 1er service,70,211,10,27,238,2.9625,4
5,2019-01-04,Déjeuner,41,113,22,47,160,0.9524,5
6,2019-01-04,Diner - 1er service,80,259,9,22,281,1.8539,5
7,2019-01-05,Dejeuner week-end,28,78,26,66,144,0.5000,6
8,2019-01-05,Diner - 1er service,67,250,19,43,293,1.8256,6
9,2019-01-06,Dejeuner week-end,27,84,16,41,125,0.3721,7
10,2019-01-06,Diner - 1er service,38,106,12,31,137,0.8600,7
11,2019-01-07,Déjeuner,19,55,16,32,87,0.3714,1
12,2019-01-07,Diner - 1er service,43,128,11,25,153,0.8889,1
13,2019-01-08,Déjeuner,21,69,19,38,107,0.6750,2
14,2019-01-08,Diner - 1er service,48,153,13,32,185,1.4262,2
15,2019-01-09,Déjeuner,21,67,17,41,108,0.6842,3
16,2019-01-09,Diner - 1er service,72,187,17,39,226,1.4494,3
17,2019-01-10,Déjeuner,34,98,11,23,121,0.5111,4
18,2019-01-10,Diner - 1er service,64,225,6,12,237,1.9286,4
19,2019-01-11,Diner - 1er service,83,240,16,41,281,2.0606,5