In [1]:
import pandas as pd

In [3]:
data=pd.read_csv('all_events_sport_and_weather.csv')

In [8]:
data.columns

Index(['date', 'service', 'match_edf', 'roland_garros', 'fashion_week',
       'match_happening', 'match_happening_cl', 'temp', 'feels_like',
       'temp_min', 'temp_max', 'wind_speed', 'clouds_all', 'vacances_paris',
       'clear', 'clouds', 'drizzle', 'drizzle_and_rain', 'fog', 'mist', 'rain',
       'thunderstorm'],
      dtype='object')

In [9]:
data_weather = data[['date','service','temp','feels_like','temp_min','temp_max','wind_speed','clouds_all','clear','clouds','drizzle','drizzle_and_rain','fog','mist','rain','thunderstorm']]

In [10]:
data_weather

,date,service,temp,feels_like,temp_min,temp_max,wind_speed,clouds_all,clear,clouds,drizzle,drizzle_and_rain,fog,mist,rain,thunderstorm
0,2019-01-01,midi,281.44,280.15,280.58,282.24,2.24,90,0,overcast clouds,0,0,0,0,0,0
1,2019-01-01,soir,280.87,280.87,279.48,281.45,0.45,90,0,0,light intensity drizzle,0,0,0,0,0
2,2019-01-02,midi,279.57,278.92,278.83,280.31,1.34,90,0,overcast clouds,0,0,0,0,0,0
3,2019-01-02,soir,278.95,277.22,277.71,279.81,2.24,90,0,overcast clouds,0,0,0,0,0,0
4,2019-01-03,midi,279.11,279.11,278.06,280.25,0.89,90,0,overcast clouds,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1881,2021-07-29,soir,295.25,294.82,293.58,296.82,0.89,0,sky is clear,0,0,0,0,0,0,0
1882,2021-07-30,midi,295.70,295.29,294.40,297.38,2.24,40,0,scattered clouds,0,0,0,0,0,0
1883,2021-07-30,soir,294.44,294.01,293.27,295.71,1.34,0,sky is clear,0,0,0,0,0,0,0
1884,2021-07-31,midi,294.69,294.47,294.16,295.59,0.45,0,sky is clear,0,0,0,0,0,0,0
1885,2021-07-31,soir,293.83,293.55,292.49,294.77,0.89,40,0,scattered clouds,0,0,0,0,0,0

In [11]:
data.columns

Index(['date', 'service', 'match_edf', 'roland_garros', 'fashion_week',
       'match_happening', 'match_happening_cl', 'temp', 'feels_like',
       'temp_min', 'temp_max', 'wind_speed', 'clouds_all', 'vacances_paris',
       'clear', 'clouds', 'drizzle', 'drizzle_and_rain', 'fog', 'mist', 'rain',
       'thunderstorm'],
      dtype='object')

In [12]:
data_vacances = data[['date','service','vacances_paris']]

In [13]:
data.columns

Index(['date', 'service', 'match_edf', 'roland_garros', 'fashion_week',
       'match_happening', 'match_happening_cl', 'temp', 'feels_like',
       'temp_min', 'temp_max', 'wind_speed', 'clouds_all', 'vacances_paris',
       'clear', 'clouds', 'drizzle', 'drizzle_and_rain', 'fog', 'mist', 'rain',
       'thunderstorm'],
      dtype='object')

In [14]:
data_events = data[['date','service','roland_garros','fashion_week']]

In [15]:
data_events

,date,service,match_edf,match_happening,match_happening_cl,roland_garros,fashion_week
0,2019-01-01,midi,0,0.0,0.0,0,0
1,2019-01-01,soir,0,0.0,0.0,0,0
2,2019-01-02,midi,0,0.0,0.0,0,0
3,2019-01-02,soir,0,0.0,0.0,0,0
4,2019-01-03,midi,0,0.0,0.0,0,0
...,...,...,...,...,...,...,...
1881,2021-07-29,soir,0,0.0,0.0,0,0
1882,2021-07-30,midi,0,0.0,0.0,0,0
1883,2021-07-30,soir,0,0.0,0.0,0,0
1884,2021-07-31,midi,0,0.0,0.0,0,0
1885,2021-07-31,soir,0,0.0,0.0,0,0

In [16]:
data_sports = data[['date','service','match_edf','match_happening','match_happening_cl']]

In [17]:
data_weather.to_csv(path_or_buf="data_weather.csv", index=False)

In [18]:
data_sports.to_csv(path_or_buf="data_sports.csv", index=False)

In [19]:
data_events.to_csv(path_or_buf="data_events.csv", index=False)

In [20]:
data_vacances.to_csv(path_or_buf="data_vacances.csv", index=False)